*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #4AA8FF;
    
}
.header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #4AA8FF;
}

.headerRight{
    width: 30%;
}

.headerMid{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLeft{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 160px;
    height: 76px;
}

.register{
    width: 121px;
    height: 60px;
    background-color: #007BD4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-right: 15px;
}
.login{
    width: 121px;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
}

h1{
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    color: white; 
}

h2{
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    color: black; 
}
a{
    text-decoration: none ;
}

.mid{
    height: 1590px;
    width: 100%;
}
.midup{
    display: flex;
    flex-direction: row;
}

.middown{
    display: flex;
    flex-direction: row;
}

.midup-right{
    width: 100%;
    height: 791.7px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.midup-right-1{
    width: 324px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.midup-right-2{
    width: 401px;
    height: 216px;

}

.midup-right-3{
    width: 200px;
    height: 60px;
    background-color: #007BD4;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.middown-left{
    width: 100%;
    height: 791.7px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.middown-left-1{
    width: 324px;
    height: 162px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middown-left-2 {
    width: 600px;
    height: 320px;
    border: 2px solid #000;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resizable {
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
}

.mapsmall{
    max-width: 100%;
    max-height: 100%;
    user-select: none;
}

.naarMapButton{
    width: 200px;
    height: 60px;
    background-color: #007BD4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: -100px;
    position: absolute;
    z-index: 1;
}

h4{
    font-family: "Kanit", sans-serif;
    font-style: italic;
    font-size: 16px;
}

h3{
    font-family: "Kanit", sans-serif;
    font-size: 36px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.planeimg{
    width: 976.3px;
    height: 791.7px;
}

.wereldbolimg{
    width: 791.7px;
    height: 791,7px;
}

.logoimg{
    width: 308px;
    height: 146px;
}
footer{
    height: 274px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.footer-up{
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-up-left{
    height: 250px;
    width: 324px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.footer-up-left-1{
    width: 324px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-up-left-2{
    width: 324px;
    height: 190px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-up-left-2-vlak{
    width: 324px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-down{
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h5{
    font-family: "Kanit", sans-serif;
    font-style: italic;
    font-size: 10px;
    color: #ffffff;
}

h6{
    font-family: "Kanit", sans-serif;
    font-size: 36px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.login-vlak{
    width: 100%;
    height: 800px;
    margin: 0 auto 0 auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vlak-login{
    width: 500px;
    height: 400px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: gainsboro;
}

.input-vlak{
    width: 300px;
    height: 50px;
    border-radius: 20px;
}
/* Begin logout_nav */
.container-logo{
    height: 100px;
    width: 400px;
    display: flex;
}
.push{
    width: 299px;
}
.menu-container{
    height: 100px;
    width: 680px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.menu-bar{
    height: 40px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104px;  
}
/* End logout_nav */
 
.map-mid{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    perspective: 1000px;
}

.map-img{
    width: 100%;
    height: 800px;
    transition: transform 0.1s ease-out;
}

.search-bar{
    width: 100%;
    height: 120px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.search-bar-left{
    width: 30%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.search-bar-right{
    width: 30%;
    height: 120px;
    display: flex;
    align-items: center;
    position: relative;
}

.search-in{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
#searchBox{
    width: 80%;
    height: 60px;
    border-radius: 20px;
    background-color: #D9D9D9;
    color: #757575;
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    padding-left: 30px;
}

.search-vlak::placeholder{
    
    text-align: left;
}

.searchButton{
    width: 121px;
    height: 60px;
    background-color: #007BD4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-right: 15px;
}

.tooltip {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    z-index: 10;
    width: 200px;
}

.tooltip img {
    width: 100%;
    height: auto;
}
.productenRow{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}
.singleReis{
    height: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.singleTitle{
    height: 30px;
    width: 10px;
    margin-left: 10px;
}
.singleText{
    height: 100px;
    width: 300px;
}
.singleConImgFlorida {
    width: 100%; /* Adjust as needed */
    max-width: 500px; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    margin: 0 auto; /* Center the container */
    border: 1px solid #ccc; /* Optional: Add a border for clarity */
    overflow: hidden; /* Optional: Ensure no overflow */
}

.singleImgFlorida {
    width: 100%; /* Ensure the inner div takes full width */
    height: auto; /* Adjust as needed */
}

.singleImgFlorida img {
    width: 100%; /* Make image take full width of its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove inline spacing issues */
    object-fit: cover; /* Ensure image covers the container */
}

.agenda-con{
    height: 300px;
    width: 100%;
}
.naam{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
}

.container{
    width: 100%;
    height: auto;
}

svg{
    width: 100%;
    height: auto;
}

.zoomButton {
    display: none;
}

.options-container {
    position: absolute;
    top: 40px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    display: none;
    z-index: 1000;
    margin-top: 50px;
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
}

.option {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.option:hover {
    background-color: #f0f0f0;
}

.option:last-child {
    border-bottom: none;
}

.user-detail-mid{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;

}

.user-mid-left{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.user-mid-head{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}